<div>
  <h4>Search for a Recipe: </h4>
  <%= form_tag(recipes_path, method: 'get') do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("search") %>
  <% end %>
</div>


<div>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul> 
</div> 




        
