<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Recipe info</h4>
      <dl>
        <dt>Recipe</dt>
        <dd><%= @recipe['name'] %></dd>
        <dt>Ingredients</dt>
        <dd><%# @recipe['ingredients'] %></dd>
        <dt>Cook Time</dt>
        <dd><%# @recipe['cook-time'] %></dd>
        <dt>Serving Amount</dt>
        <dd><%# @recipe['yield'] %></dd>
      </dl>
    </div>
  </div>
</div>