<h1>Welcome, <%= @user.user_name %>!</h1>
<h4>Let's get cooking! Add a new recipe or view all recipes.</h4>
<br>
<%= button_to "Recipes", recipes_path %>
<br>
<%= button_to 'Add a Recipe', new_recipe_path %>
<br>


<%= image_tag 'calum-lewis-vA1L1jRTM70-unsplash.jpg', class: 'welcome-img'%>

