<h1>Welcome, <%= @user.user_name %>!</h1>
<h4>Let's get cooking! Using the menu, add a new recipe or view all recipes.</h4>

<%= image_tag 'calum-lewis-vA1L1jRTM70-unsplash.jpg', class: 'welcome-img'%>

